/* Основа сайта */

:root {
    
    /* Шрифта */
    --main-fonts : 'Roboto';
    --secondary-fonts : 'Raleway';

    /* Цвета */
    --primary-text-color : #212121;
    --title-text-color : #ffffff;
    --text-color : #757575;
    --accent-color : #2196F3;
    --background-color: #2F303A;
    --dark-color: #000000;
    --second-background-color: #F5F4FA;
    --border-color: #EEEEEE;
    --color-icon: #AFB1B8;

    /* Others */
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* common styles star */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link { 
    text-decoration: none;

    text-decoration: none;
	color: inherit;
}

.list {
    list-style: none;

    list-style: none;
	padding-left: 0;
	margin: 0;
}

.btn {
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.no-scroll {
    overflow: hidden;
}





/* Body */

body {
    font-family: var(--main-fonts);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--title-text-color);

}

/* logo */

.logo {
    font-family: var(--secondary-fonts);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    text-decoration: none;
}

.part-logo-dark {
    color: var(--dark-color);
}

.part-logo-white {
    color: var(--title-text-color);
}



/* Шапка профиля */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex;
}

.header-link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    color: var(--primary-text-color);

    transition: var(--anim);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    display: inline-block;
    margin-right: 10px;

    background-color:var(--accent-color);
    border-radius: 2px;
}




.header-list {
    display: flex;
    margin-left: 93px;

}

.header-list-item:not(:last-child) {
    margin-right: 50px;

}

.header-list .current {
    color: var(--accent-color);
}

.header-contacts-list {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: var(--anim);
}

.header-contacts-list:hover,
.header-contacts-list:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts-item {
    display: flex;
    align-items: center;
}

.header-contacts .item + .item {
   margin-left: 50px;
}

.header-icons {
    margin-right: 10px;

    fill: currentColor;
}


/* Герой */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1600px;
    margin: 0 auto;
    text-align: center;

    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}



.hero-title {

    width: 696px;
    margin: 0 auto;

    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.hero-btn {
    margin-top: 30px;

    border-radius: 4px;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    border: none;

    letter-spacing: 0.06em;


    color: var(--title-text-color);
    background-color: var(--accent-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background-color: #fff;

    border-radius: 4px;
}  

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--title-text-color);
    cursor: pointer;
}


/* Особенности компании */

.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.company-features-text {
    line-height: 1.71;
    color: var(--text-color);
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;

    border-radius: 4px;
    background-color: var(--second-background-color);
}


/* What does do */

.does {
    padding-top: 0;
}

.does-list {
    display: flex;
    margin-top: 50px;
}

.does-item {
    position: relative;
}


.does-item:not(:last-child) {
  margin-right: 30px;

}

.does-title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
}

.img-does {
    display: block;
}



.does-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
}


/* Team */

.team {
background-color:var(--second-background-color);
}

.team-tittle {
    text-align: center;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
}

.team-list {
    display: flex;
    margin-top: 50px;  
}

.team-item {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   text-align: center;
   margin-left: auto;
   margin-right: auto;

   background:var(--title-text-color)
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-name {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}

.team-text {
    margin-top: 10px;
    margin-bottom: 16px;

    line-height: 1.18;
    color:var(--text-color)
}

.icon-team-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 50%;
    
    transition: var(--anim);
}

.icon-team-item:not(:last-child) {
    margin-right: 10px;
}



.icon-team-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon-team-link:hover,
.icon-team-link:focus {
    background-color: var(--accent-color);
}

.icon-team-link:hover .icon-team,
.icon-team-link:focus .icon-team {
    fill: var(--title-text-color);
}

.icon-team-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
}

.icon-team {
    fill: var(--color-icon);
}

/* Regular customer */

.client-tittle {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
}

.client-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
}

.client-item:not(:last-child) {
    margin-right: 30px;
} 

.client-box {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-icon);
    border-radius: 4px;

    transition: var(--anim);
}

.client-box:hover {
    border-color: var(--accent-color);
} 

.client-icon {
    fill: var(--color-icon);
    transition: var(--anim);
}

.client-item:hover .client-icon {
    fill: var(--accent-color);
}

.client-link {
    display: flex;
    text-decoration: none;
}


/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-contacts {
    padding: 0;
}

.logo-footer {
    display: block; 
}

.footer-item:not(:first-child) {
    margin-top: 8px;
}

.adress-link {
    display: block;
    margin-top: 20px;

    font-family: var(--main-fonts);
    font-style: normal;
    line-height: 1.71;
    color: var(--title-text-color);

    transition: var(--anim);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}


.contact-link {
    font-family: var(--main-fonts);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: var(--anim);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.footer-media {
    padding-top: 0;
    margin-left: 70px;
}

.footer-media-title {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.footer-media-list {
    padding-left: 0;
    margin: 0;
    margin-top: 20px;
    
}

.footer-media-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.12);
    
    text-decoration: none;
    border-radius: 50%;

    transition: var(--anim);
}

.footer-media-link:hover,
.footer-media-link:focus {
    background-color:var(--accent-color) ;
}

.footer-icon {
    fill: var(--title-text-color);
}

.footer-media-item {
    display: inline-block;
    margin-right: 10px;
}

.footer-input-container {
    margin-left: 93px;
}

.footer-input-title {
    display: block;
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.footer-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: var(--title-text-color);
    background-color: var(--background-color);
}

.footer-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}

.footer-form-icon {
    margin-left: 10px;
}


/* Portfolio */

.portfolio-list {
    display: flex;  
    justify-content: center;
}

.portfolio-item:not(:first-child) {
    margin-left: 8px;
}

.portfolio-btn {
    border-radius: 4px;
    border: none;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: var(--anim);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-item-container {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.project-portfolio-link {
    display: block;
}

.project-item {
    
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-title {
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--primary-text-color);
 }

.project-text {
    font-family: var(--main-fonts);
    font-size: 16px;
    line-height: 30px;
    color: var(--text-color);
}

.portfolio-photo {
    position: relative;
    overflow: hidden;
}

.project-text-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);

    background-color:rgba(33, 150, 243, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    transition: var(--anim);
}

.project-item:hover .project-text-hover {
    transform:  translateY(0);

}

.portfolio-item:hover,
.portfolio-item:focus {
    color: var(--accent-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-bottom: -30px;
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



.project-item:nth-child(3n) {
    margin-right: 0px;
}










